<header>
    <h1 (click)="goToAccueil()">La Taverne du Voyageur</h1>
    <ul>
        <li (click)="goToActu()">Actu</li>
        <li (click)="goToBuild()">Build</li>
        <li (click)="goToRaid()">Raid Planning</li>
        <li (click)="goToGuide()">Guide</li>
    </ul>
</header>
<main>
    <div class="container">
        <div class="info" *ngIf="raidList">
            <div>
                <p>
                    {{ raidList[0].titre }} <br>
                    {{ raidList[0].date }} <br>
                    {{ raidList[0].heure }}
                </p>
            </div>
            <img [src]="'assets/imageRaid/'+raidList[0].img" alt="{{ raidList[0].titre }}">
        </div>
        <div class="info" *ngIf="raidList">
            <div>
                <p>
                    {{ raidList[1].titre }} <br>
                    {{ raidList[1].date }} <br>
                    {{ raidList[1].heure }}
                </p>
            </div>
            <img [src]="'assets/imageRaid/'+raidList[1].img" alt="{{ raidList[1].titre }}">
        </div>
        <div class="info" *ngIf="raidList">
            <div>
                <p>
                    {{ raidList[2].titre }} <br>
                    {{ raidList[2].date }} <br>
                    {{ raidList[2].heure }}
                </p>
            </div>
            <img [src]="'assets/imageRaid/'+raidList[2].img" alt="{{ raidList[2].titre }}">
        </div>
        <div class="info" *ngIf="raidList">
            <div>
                <p>
                    {{ raidList[3].titre }} <br>
                    {{ raidList[3].date }} <br>
                    {{ raidList[3].heure }}
                </p>
            </div>
            <img [src]="'assets/imageRaid/'+raidList[3].img" alt="{{ raidList[3].titre }}">
        </div>
        <div class="info" *ngIf="raidList">
            <div>
                <p>
                    {{ raidList[4].titre }} <br>
                    {{ raidList[4].date }} <br>
                    {{ raidList[4].heure }}
                </p>
            </div>
            <img [src]="'assets/imageRaid/'+raidList[4].img" alt="{{ raidList[4].titre }}">
        </div>
        <div class="info" *ngIf="raidList">
            <div>
                <p>
                    {{ raidList[5].titre }} <br>
                    {{ raidList[5].date }} <br>
                    {{ raidList[5].heure }}
                </p>
            </div>
            <img [src]="'assets/imageRaid/'+raidList[5].img" alt="{{ raidList[5].titre }}">
        </div>
    </div>
</main>
<footer>
    <ul>
        <li>
            <a href="https://discord.gg/Brp8G2S9" target="_blank">
                <i class="fa-brands fa-discord" style="color: #ffffff;"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/rodrigue-botte-b828332a3/" target="_blank">
                <i class="fa-brands fa-linkedin" style="color: #ffffff;"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/RodrigueBotte" target="_blank">
                <i class="fa-brands fa-github" style="color: #ffffff;"></i>
            </a>
        </li>
    </ul>
</footer>