<header>
    <h1>Projet Destiny</h1>
    <ul>
        <li>Actu</li>
        <li>Build</li>
        <li>Raid Planning</li>
        <li>Guide</li>
    </ul>
</header>
<main>
    <div class="container">
        <div class="info1">
            <a href="https://www.bungie.net/7/fr/News/article/destiny_2_update_8_0_0_5">
            <img [src]="imageMaintenance" alt="Mise à jour">Mise à Jour 8.0.0. de Destiny 2</a><br>
            <img src="./assets/imageActu/resume.png" alt="ça marche pas"><br>
            <!-- <img src="./images/maintenance.png" alt="Toujours pas"> -->
        </div>
        <div class="info2">deuxième paquet</div>
        <div class="info3">troisième paquet</div>
    </div>
</main>
<footer>
    <ul>
        <li><a href="https://discord.gg/Brp8G2S9" target="_blank"><i class="fa-brands fa-discord" style="color: #ffffff;"></i></a></li>
        <li><a href="https://www.linkedin.com/in/rodrigue-botte-b828332a3/" target="_blank"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a></li>
        <li><a href="https://github.com/RodrigueBotte" target="_blank"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a></li>
    </ul>
</footer>