<header>
    <h1>Projet Destiny</h1>
    <ul>
        <li>Actu</li>
        <li>Build</li>
        <li>Raid Planning</li>
        <li>Guide</li>
    </ul>
</header>
<main>
    <div class="container">
        <div class="info1"><a href="https://www.bungie.net/7/en/News/article/update_8005_maintenance"><img src="" alt="Mise à jour">Clique ici</a></div>
        <div class="info2">deuxième paquet</div>
        <div class="info3">troisième paquet</div>
    </div>
</main>
<footer>
    <ul>
        <li><a href="#"><i class="fa-brands fa-discord" style="color: #ffffff;"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a></li>
    </ul>
</footer>